<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>

<body>
    <a href="/games">Back to Game List</a>

    <h1>
        <%= title %>
    </h1>


    <form action="/games/<%= action %> " method="post">
        <div>
            <label for="name">Name:</label>
            <% if (locals.game) { %>
                <input type="text" id="name" name="name" value="<%= game.name %>">
                <% } else { %>
                    <input type="text" id="name" name="name">
                    <% } %>
        </div>
        <% if (locals.errorMessage) { %>
            <p style="color: red">
                <%= errorMessage %>
            </p>
            <% } %>
                <button>Save</button>
    </form>
</body>

</html>